In [ ]:
# It is very simple
# Easiliy readable
# No Strict syntax
# Dynamically Typed Language
 
''''
Welcome to
Essentials 2.0
'''
 
print('''hello world''')
print("""Hello LetsUpgraders""")

hello world
Hello LetsUpgraders

In [ ]:
print('hello')
print('coders')


print('hello', end = '@')
print('coders')


print('hello', 'coders')

hello
coders
hello@coders
hello coders

In [ ]:
a = 20
print(type(a))

a = 'hello'
print(type(a))

a = '$'
print(type(a))

<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
x = 10.25
print(type(x))

<class 'float'>

In [ ]:
x = 10
y = 20
z = 30

In [ ]:
x, y, z = 10, 20, 30

In [ ]:
a = @
print(type(a))

SyntaxError: ignored

In [ ]:
a = b = c = 20
print(a, b, c)

print(id(a))
print(id(b))
print(id(c))

20 20 20
94394549927008
94394549927008
94394549927008

In [ ]:
a = b = c = 20

print(id(a))
print(id(b))
print(id(c))

b = 30

print(a, b, c) #immutability

print(id(a), id(b), id(c))
print(type(id(a)))

b = 20
print(id(a), id(b), id(c))

94394549927008
94394549927008
94394549927008
20 30 20
94394549927008 94394549927328 94394549927008
<class 'int'>
94394549927008 94394549927008 94394549927008

In [ ]:
x = int(input("Enter first value: "))
y = int(input("Enter second value: "))

print(type(x), type(y))

print(x + y)

Enter first value: 12
Enter second value: 15
<class 'int'> <class 'int'>
27

In [ ]:
x = input('Enter values: ')
print(x)
print(type(x))

"10 20 30 40 50"

Enter values: 10 20 30 40 50
10 20 30 40 50
<class 'str'>

In [ ]:
x = int(input('Enter values: '))
print(x)

Enter values: 10 20 30 40 50

ValueError: ignored

In [ ]:
x = input('Enter values: ')
print(type(x))

val = [int(i) for i in x.split()]
print(val)

Enter values: 10 20 30 40 50
<class 'str'>
[10, 20, 30, 40, 50]

In [ ]:
li = ['hello', 35, 10.25, '&']
print(li)
print(type(li))

['hello', 35, 10.25, '&']
<class 'list'>

In [ ]:
li = [12, 10, 4, 7, 1, 3]
li.sort()

In [ ]:
print(li)

[1, 3, 4, 7, 10, 12]

In [ ]:
li.reverse()
print(li)

[12, 10, 7, 4, 3, 1]

In [ ]:
# Slicing

li = [12, 25, 10, 5, 1, 3]
print(li[0:5])  #[start : end]

[12, 25, 10, 5, 1]

In [ ]:
li = [int(i) for i in input('Enter values: ').split()]

Enter values: 10 20 30 40

In [ ]:
x = "h e l l o"
y = x.split()
print(y)

['h', 'e', 'l', 'l', 'o']

In [ ]:
li = [12, 5, 10, 3, 2, 4]
print(li[0 : 3])
print(li[ : 3])
print(li[1 : 3])
print(li[2 : ])
print(li[:])
print(li[2 : 5])


print(li[4])

[12, 5, 10]
[12, 5, 10]
[5, 10]
[10, 3, 2, 4]
[12, 5, 10, 3, 2, 4]
[10, 3, 2]
2

In [ ]:
print(li[-3])

3

In [ ]:
li = [12, 5, 10, 3, 2, 4]
print(li[1 : 6 : 1]) # start, end, step
print(li[1 : 6 : 2])

print(li[: : 1])
print(li[: : 2])

print(li[::-1])

[5, 10, 3, 2, 4]
[5, 3, 4]
[12, 5, 10, 3, 2, 4]
[12, 10, 2]
[4, 2, 3, 10, 5, 12]

In [ ]:
print(li)

[12, 5, 10, 3, 2, 4]

In [ ]:
li.reverse()
print(li)

[4, 2, 3, 10, 5, 12]

In [ ]:
#repetition
li = [1, 2, 3]
print(li * 5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#concatenation
first = [1, 2, 3]
last = [4, 5, 6]
print(first + last)

[1, 2, 3, 4, 5, 6]

In [ ]:
#membership

li = [10, 20 , 30, 40, 50, 60]
print(35 in li)

False

In [ ]:
#iteration
li = [10, 20 , 30, 40, 50, 60]
for i in li:
  print(i, end = ' ')

10 20 30 40 50 60

In [ ]:
print(li)
li.append(4)
print(li)
li.append(5)
print(li)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4, 4]
[1, 2, 3, 4, 4, 4, 5]

In [ ]:
li.pop(2)
print(li)

[1, 2, 4, 4, 4, 5]

In [ ]:
li.remove(2)
print(li)

[1, 4, 4, 4, 5]

In [ ]:
li.insert(3, 7)
print(li)

[1, 4, 4, 7, 4, 5]

In [ ]:
li.remove(4)
print(li)

[1, 4, 7, 4, 5]

In [ ]:
# del li - delete the list

print(li.count(4))
print(li.index(5))

2
4

In [ ]:
# Assignment2 -  Remove all occurences of an element from a list

In [ ]:
#Tuple - Immutable

t = (1, 2, 3, 'hello', 10.35)
print(t)
print(type(t))

(1, 2, 3, 'hello', 10.35)
<class 'tuple'>

In [ ]:
li = (1, 2, 3)
li[0] = 5
print(li)

TypeError: ignored

In [ ]:
# Methods
#-count()
# -index()

In [ ]:
tup = (1, 2, 3, [4, 5, 6])
tup[3][1] = 10
print(tup)

tup[1] = 20

(1, 2, 3, [4, 10, 6])

TypeError: ignored

In [ ]:
li = [1]
print(type(li))

tup = (10)
print(type(tup))

tup = (10,)
print(type(tup))

<class 'list'>
<class 'int'>
<class 'tuple'>

In [ ]:
#set

num = {1, 2, 3, 4, 5}
print(type(num))

<class 'set'>

In [ ]:
li = [5, 4, 2, 5, 1, 3]
print(li)

num = {5, 4, 2, 5, 1, 3}
print(num)

[5, 4, 2, 5, 1, 3]
{1, 2, 3, 4, 5}

In [ ]:
num1 = {1, 5, 3, 2}
num2 = {5, 2, 4, 7}
print(num1 - num2)
print(num1 & num2)
print(num1 | num2)

{1, 3}
{2, 5}
{1, 2, 3, 4, 5, 7}

In [ ]:
#Dictionary
''
details = {"name" : "Harry", "Age": 13, "Power" : "magic"}
print(type(details))
print(details['Age'])
print(details.get('Age'))

print(details.get('pet'))
print(details.get('pet', 0))

<class 'dict'>
13
13
None
0

In [ ]:
print(details.keys())
print(details.values())
print(details.items())

dict_keys(['name', 'Age', 'Power'])
dict_values(['Harry', 13, 'magic'])
dict_items([('name', 'Harry'), ('Age', 13), ('Power', 'magic')])

In [ ]:
#Modules
#Project  - Generating OTP


# Program 1 - factorial()
#Program 2 - import program1 and use the same factorial
'''
Examples: math, random, string

'''

In [ ]:
import math as m
num  = 64
print(m.sqrt(64))
print(m.pow(2, 5))

8.0
32.0

In [ ]:
import math as m
print(m.sqrt(64))
print(m.ceil(2.5))
print(m.floor(2.5))

8.0
3
2

In [ ]:
from math import sqrt
print(sqrt(64))

print(ceil(2.5))

8.0

NameError: ignored

In [ ]:
## Project: OTP Generator
# Generate a 6 character OTP
import random as r
import string
length = 8
otp = ''
characters = string.ascii_letters + string.digits
print(characters)

for i in range(length):
  otp = otp + r.choice(characters)

print("OTP:", otp)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
OTP: ld0ogSJb

In [ ]:
import random as r
print(r.randint(0, 10))
print(r.randrange(0, 10))
print(r.random() * 50)

1
0
21.0217872349821

In [ ]:
# Assignment2 -  Remove all occurences of an element from a list
# Assignment3 - Check whether a string is pangram

In [ ]:
#Tuple

li = [1, 2, 3, 'hello', 20.58]
print(type(li))
tup = (1, 2, 3, 'hello', 20.58)
print(type(tup))

<class 'list'>
<class 'tuple'>

In [ ]:
li[0] = 5
print(li)

[5, 2, 3, 'hello', 20.58]

In [ ]:
tup[0] = 5
print(tup)

TypeError: ignored

In [ ]:
x = 1, 2, 3
print(type(x))

<class 'tuple'>

In [ ]:
y = (10)
print(type(y))

y = (10,)
print(type(y))

<class 'int'>
<class 'tuple'>

In [ ]:
tup = 1, 5, 2, 4, 7, 5, 3
print(tup.count(5))
print(tup.index(7))

2
4

In [ ]:
# det = {key1:val2, key2 : val2}

det = {'name' : 'John', 'Age' : 25, 'city' : 'Mumbai'}
print(det)

{'name': 'John', 'Age': 25, 'city': 'Mumbai'}

In [ ]:
# conditional statements

amt = int(input('Enter the left out amount: '))
if amt >= 10:
  print("Chai & Biscuit")
else:
  print('Do Something')
print("Done")

Enter the left out amount: 5
Do Something
Done

In [ ]:
amt = int(input('Enter the left out amount: '))
if amt >= 10:
  print("Chai & Biscuit")
elif amt >= 5:
  print('Only Chai')
else:
  print('Paani pio ghar jao')
print("Done")

Enter the left out amount: 2
Paani pio ghar jao
Done

In [ ]:
#Loops
'''
 - For
 - While
'''

'\n - For\n - While\n'

In [ ]:
# Initialization, condition checking, Updation of counter/loop variable
i = 1 # loop variable
while i <= 10:
  print('5', end = " ")
  i = i + 1

5 5 5 5 5 5 5 5 5 5

In [ ]:
for i in range(10): # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
  print('5', end = " ")

5 5 5 5 5 5 5 5 5 5

In [ ]:
city = 'Bhubaneswar'
for i in city:
  print(i, end = " ")
print()
li = [1,2 ,3, 4, 6]
for i in li:
  print(i, end = " ")

B h u b a n e s w a r
1 2 3 4 6

In [ ]:
det = {'name' : 'John', 'Age' : 25, 'city' : 'Mumbai'}
for i in det:
  print(i)

for i in det.values():
  print(i, end = " ")

name
Age
city
John 25 Mumbai

In [ ]:
for i in det.items():
  print(i)

('name', 'John')
('Age', 25)
('city', 'Mumbai')

In [ ]:
x = int(input('Enter 1st value: '))
y = int(input('Enter 2nd value: '))

res = x ** y

print("Result of the operation is", res)
print(f"Result of the operation is {x ** y}")

Enter 1st value: 2
Enter 2nd value: 5
Result of the operation is 32
Result of the operation is 32

In [ ]:
#Functions & Decorators

a = 10
b = 20

print(a + b)

30

In [ ]:
def sum(a, b):
  return a + b

x = 10
y = 20
print(sum(x, y))

30

In [ ]:
'''
sub()
mul()
div()
add()
'''

'\nsub()\nmul()\ndiv()\nadd()\n'

In [ ]:
def fun():
  print('in a function')

fun()

in a function

In [ ]:
def fun(name):
  print('hello', name)

fun('Vamsi')
fun('Mansi')
fun('Samuel')

hello Vamsi
hello Mansi
hello Samuel

In [ ]:

def sub(a, b):
  print(a - b)

#decorator
def mod_sub(fun):   # fun ~ sub
  def inner(a, b):
    if a < b:
      a, b = b, a
    fun(a, b)
  return inner

sub = mod_sub(sub)
sub(10, 17)

In [ ]:
#Decorators

#decorator
def mod_sub(fun):   # fun ~ sub
  def inner(a, b):
    if a < b:
      a, b = b, a
    fun(a, b)
  return inner

@mod_sub
def sub(a, b):
  print(a - b)



sub(10, 17)

7

In [ ]:
print(type('@'))
print(type("@"))
print(type('''@'''))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
#Assignment Question
'''
Consider a person is represented by Pi, where i is the index of the following list.
A list shows the person to whom person Pi has given the gift.

Consider the below example:
gift_presented_to = [2, 1, 5, 3, 4]

This list is giving us the following details:
Person P1 has given gift to person P2
Person P2 has given gift to person P1
Person P3 has given gift to person P5
Person P4 has given gift to person P3
Person P5 has given gift to person P4

So for the given list, the list of persons from whom they have received the gift would be 
gift_received_from = [2, 1, 4, 5, 3]

i.e.
Person P1 has received gift from person P2
Person P2 has received gift from person P1
Person P3 has received gift from person P4
Person P4 has received gift from person P5
Person P5 has received gift from person P3

Your task:

Take input for the gift_presented_to[] list and print its respective gift_received_from[] list.
'''